@media (min-width: 768px) {
  .container-small {
      width: 700px;
  }
  .container-large {
      width: 1170px;
  }
}

@media (min-width: 1200px) {
  .container-small {
      width: 700px;
  }
  .container-large {
      width: 1500px;
  }
}

.container-small, .container-large {
  max-width: 100%;
}

.avatar {
  height: 150px;
}

.social-links a {
  color: #333;
  text-decoration:none;
}

.social-links a {

}
